@import "compass";
@import "partials/normalize";


//   ===================================================================================================
//      Global Variables
//   ===================================================================================================

$pie: url(/assets/css/PIE.htc);

//   ===================================================================================================
//      Color Scheme Variables
//   ===================================================================================================


// backgrounds and borders color palette

$backgroundColor: #fff; // Website Background Color
$boxShadowColor: #999; // Box Shadow Color
$bannerBackgroundColor: #f4f2ee; // band extending width of browser below top nav

// font color palette

$fontColor: #8a8380; // General Font Color 
$contrastFontColor: #dc5d3d; //  General Font Contrast Color (rust)
$heading1FontColor: #302f2c; // Default Heading 1 Font Color
$heading2FontColor: #665e5b; // Default Heading 2 Font Color

// special colors for specific elements
$headerFooterFontColor: #a9a8a8;  
$headerFooterFontColorHover: #474240;
$mainMenuFontColor: #9c9689;
$mainMenuDropdownsFontColor: #fff;
$mainMenuDropdownsBackgroundColor:#b2a28b;
$leftNavListItemFontColor: #585651;
$bannerTextFontColor:#fff;


$linkColor: $contrastFontColor; 
//$mainMenuCurrentPageFontColor: $contrastFontColor;
//$mainMenuFontColorHover: $headerFooterFontColorHover;

//   ===================================================================================================
//      Other Font Setting Variables
//   ===================================================================================================
$sansSerifFontFamily: arial,helvetica,clean,sans-serif;
$serifFontFamily: Palatino,Georgia,Times New Roman,Serif; 
 
$fontFamily: $sansSerifFontFamily; // Default Font Family
$mainMenuFontFamily:$serifFontFamily; //Main Nav Font Family 
$headingFontFamily:$serifFontFamily;// Default Heading Font Family

$baseFontSize: 13px;
$baseLineHeight: 1.231;

$headerFooterFontSize:77%;
$mainMenuFontSize: 93%;

//   ===================================================================================================
//      Layout Setting Variables
//   ===================================================================================================

$websiteWidth: 1017px;
$homepageWebsiteWidth: 1130px;

//   ===================================================================================================
//      Mixins
//   ===================================================================================================

@mixin centered-box($width:$websiteWidth) {
    width:$width;
    margin: 0 auto;
}

@mixin contain-div($overflow:$false) {
    @if $overflow { 
        
    }

}

@mixin presquile-button {
    font-family:$serifFontFamily;
    padding:2px 5px;
    border-top: 1px solid #bab2aa;
    border-left: 1px solid #bab2aa;
    border-bottom: 2px solid #bab2aa;
    border-right: 2px solid #bab2aa;  
    text-transform:uppercase; 
    background:none;    
    
    span {
        padding:0;
        line-height:1;
        height:auto;
        color:$linkColor;
        background:none;
    }
}
@mixin purchase-button {
    //@include presquile-button;
    background:none;
    margin:0;
    padding: 0;
    border:none;
    span {
    
        //display:none;
        width:auto;//60px;
        height:auto;//12px;
        
        line-height:1;
        background: transparent;
        background-image:none;
        font-size:0px;
        font-family:$serifFontFamily;
        padding:0;
        
        &:after {
            content: "Purchase";
            color:$linkColor;
            font-weight:normal;
            //padding: 2px 4px 1px 4px;
            //border: 1px solid #ccc;
            zoom: 1; 
            font-family:$serifFontFamily;
            font-size:11px;
            padding:2px 5px;
            border-top: 1px solid #bab2aa;
            border-left: 1px solid #bab2aa;
            border-bottom: 2px solid #bab2aa;
            border-right: 2px solid #bab2aa;  
            text-transform:uppercase; 
            background:none;               
        }                                
    }
} 
