/* jQuery Bookmark styles v1.4.0 */
.bookmark_popup_text img {
	border: none;
	vertical-align: bottom;
}
.bookmark_popup {
	display: none;
	position: absolute;
	z-index: 100;
	//DSF addition:
	left:0;
}
.bookmark_popup ul {
	float: left;
	width: 320px;
	border: 1px solid #aaa;
}
.bookmark_list {
	display: inline-block;
	float: left;
	list-style-type: none;
	font-size: 80%;
	margin: 0px;
	padding: 0px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {  /* Safari3/Opera9 */
	.bookmark_list {
		font-size: 100%;
	}
}
html:first-child .bookmark_list {  /* Opera */
	font-size: 80%;
}
.bookmark_list li {
	float: left;
	width: 23%;
	margin: 0px 1px;
	padding: 1px;
	background-color: #eee;
	border: 1px outset;
}
.bookmark_compact {
	background-color: #eee;
	border: 1px outset;
}
.bookmark_compact li {
	width: 16px;
	height: 16px;
	margin: 0px;
	padding: 2px;
	background-color: transparent;
	border: none;
}
.bookmark_list a {
	display: block;
	text-decoration: none;
	cursor: pointer;
}
.bookmark_list span {
	display: inline-block;
	width: 16px;
	height: 16px;
}
.bookmark_list span.bookmark_icons {
	background: url(../images/bookmarks.png) no-repeat center;
}
.bookmark_list img {
	border: none;
}
#bookmark_all {
	display: none;
	position: fixed;
	z-index: 100;
	background: #fff;
	border: 2px solid #888;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#bookmark_all p {
	margin: 0em;
	padding: 0.5em;
}
#bookmark_all ul {
	width: 24em;
	height: 20em;
	overflow: auto;
}
#bookmark_all li {
	width: 48%;
	background-color: transparent;
	border: none;
}
