@import "partials/base";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}

body{
    background-color: $backgroundColor;
    font-size: $baseFontSize;
    line-height:$baseLineHeight;
    color: $fontColor;
    font-family: $fontFamily;
    //line-height: 1.5;
}

a {
    text-decoration: none; 
            color: $linkColor;
            
            &:hover, &:focus, &:active, &:visted {
                text-decoration: underline;
            }
            
    
}
.cke_contents, // wraps RTE fields in vin65 Content Editor
#pageContent { // wraps RTE output on website pages

    div,
    p,
    ul li {
        
        a { 
            
                          
        } // a
        
    } // div, p, ul li 
    
    ul {
        padding-left: 40px;
        padding-bottom: 9px;
        li {
           list-style: disc;
            list-style-position: outside;
            color: #8A8380;
            font-family: Arial;
            font-size: 93%;
            line-height: 149%;
        }
    }
    
    
   
    
} // .cke_contents, .pageContent

/* 
ul, ol, dl, p, table, pre {
    margin-bottom: 1em;
}
 */
p {
    //padding-bottom: 9px; 
    margin-bottom: 9px; 
    font-size: 93%;    
    line-height: 149%; 
}

#{headings(1,6)}{
    font-family: $headingFontFamily;
    font-weight: normal;
    font-size:100%;
}
h1 {
    margin: 32px 0 9px 0;    
    color: $heading1FontColor;
    font-family: $headingFontFamily;
    font-weight: bold;
    font-size: 146.5%;
    text-transform: uppercase;
    line-height:1.231;
}

h2 {
    margin: 13px 0 3px 0;     
    color: $heading2FontColor;
    font-family: $headingFontFamily;
    font-weight: bold;
    font-size: 108%;
}

h3 {
    margin-bottom: 0;
    color: #433e3c;
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 93%;    
    line-height: 149%;
}

h4 {
    margin-bottom: 0;
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 93%;    
    line-height: 149%;
}

h5 {
    margin-bottom: 0;
    font-family: $fontFamily;
    font-weight: normal;
    font-style: italic;
    font-size: 93%;    
    line-height: 149%;
}

h6 {
    margin-bottom: 0;
    font-family: $fontFamily;
    font-weight: normal;
    font-size: 93%;    
    line-height: 149%;
}

h1 + h2 { 
    margin-top:25px;
}

h2 + h3,
h3 + h4 {
    margin-top:11px;
}

h1 + h4 {
    margin-top:25px;
} 

h1 + p.right { 
    margin-top:25px;
}
/* 
.reviews-page-htm {
    #pageContent {
        #mainReviewsContent {
            p + h4 { 
                margin-top:20px;
            }
        }
    }
}
 */
q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: baseline;
}

sub {
    vertical-align: baseline;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del, ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}

form {
    margin-bottom: 1em;
}

legend {
    color: #000;
}

hr {
    background-color: #666;
    border: 0;
    color: #666;
    height: 1px;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input, button, textarea, select {
    *font-size: 100%;
}

//p, 
//li {
    strong { 
        font-weight: bold; 
    }
    em {
        font-style: italic;
    }
//}

tbody {
    vertical-align: top;
}
/* Standard V65 Styles - don't remove */

/* Images */
img.v65-featureRight { border: 1px solid #ccc; float: right; padding: 3px; margin: 0 0 1em 1em; }
img.v65-right { float: right; padding: 0; margin: 0 0 1em 1em; }

img.v65-featureLeft { border: 1px solid #ccc; float: left; padding: 3px; margin: 0 1em 1em 0; }
img.v65-left { float: left; padding: 0; margin: 0 1em 1em 0; }

img.v65-border { border: 1px solid #ccc; padding: 3px; }

/*Pull Quotes*/
.v65-quoteRight { width: 33%; border: 1px solid #ccc; background-color: #eee; color: #555; font: italic 1.17em/1.5em Georgia, "Times New Roman", Times, serif; float: right; padding: 0.65em; margin: 0 0 1em 1em; }
    .v65-quoteRight:first-letter { display:block; float: left; margin: 4px 8px 0 0; font-size: 3.2em; }
.v65-quoteLeft { width: 33%; border: 1px solid #ccc; background-color: #eee; color: #555; font: italic 1.17em/1.5em Georgia, "Times New Roman", Times, serif; float: left; padding: 0.65em; margin: 0 1em 1em 0; }
    .v65-quoteLeft:first-letter { display:block; float: left; margin: 4px 8px 0 0; font-size: 3.2em; }  

/*Other*/
.small          { font-size: 0.917em; }
    .small a    { font-weight: bold; }
.smaller            { font-size: 0.834em; }
    .smaller a  { font-weight: bold; }
/*SEPARATE VERSIONS OF THIS STYLE ARE MANUALLY ENTERED IN BOTH ADMIN.(S)CSS AND SCREEN.(S)CSS
.h1-hidden {
}
*/ 
  
.review-back {
    float:right;
    margin: 0;
    a {
        &:focus, &:hover, &:active, &:visted {
            text-decoration:none;
        }
    }
}    
.floating-right {
    float:right;
    clear:right;
    margin: 0;
    a {
        &:focus, &:hover, &:active, &:visted {
            text-decoration:none;
        }
    }
}    

.h1-hidden {
    
    @extend h1;
/*    
    .cke_contents & { // wraps RTE fields in vin65 Content Editor
        &:after {
            content: "  (This h1 heading is included for SEO but hidden by applying Hidden H1 from the Styles dropdown)";
            color: blue;
            font-family:"Arial Narrow";
            //font-weight:bold;
            text-transform:none;
            font-style:italic;
        }    
    }

    #pageContent & { // wraps RTE output on website pages
        height:0;
        margin:0;
        text-indent:-9999px;
    } 
*/    
}
/* 
.h2-underlined {
    border-bottom: 1px solid #ebe8e2;
} 
 */
.h2-link {
    
    a {
        color: #4a4843;//$fontColor;
        padding-right: 12px;
        background: transparent url(../images/caret-right.png) no-repeat right center;
        
        text-decoration:none;
    
/*
        &:after {
            content:" >";
            color:$linkColor;
        }
*/    
        &:focus, &:hover, &:active, &:visted {
            color: #4a4843;//$fontColor;
            text-decoration:none;
        }
        
    }
    
}

.link-list {
    //margin: 0;
    padding: 0 8px;
    border-left: 1px solid #a9a4a2;
    
    &:first-child,
    &:first-of-type {
        padding-left: 0; 
        border-left: none; 
    }
}
/* 
.link-back {
    float: right;
    //font-size: 63.15%;
    //color: #da5c3b;
    //font-weight: normal;
    //font-family: Arial;
    //text-transform: lowercase;

    &:focus, &:hover, &:active, &:visted {
        text-decoration:none;
    }
}
 */
.vintage-link {
    
    color: #8b8481;
    text-decoration: none;
    font-family: $serifFontFamily;
    font-size: 108%;
    border-left: 1px solid #8b8481;
    padding-left: 9px;
    margin-left: 8px;
    &:first-of-type,
    &:first-child {
        border: none;
        padding: 0;
        margin: 0;                    
    }
    &.selectedVintage {
        color:$contrastFontColor;
    }
    
} // .vintage-link