@import "partials/text";

.h1-hidden {
    @extend h1;
    &:after {
        content: "  (This h1 heading is included for SEO but hidden by applying Hidden H1 from the Styles dropdown)";
        color: blue;
        font-family:"Arial Narrow";
        //font-weight:bold;
        text-transform:none;
        font-style:italic;
    }    
} 
