@charset "utf-8";
/* Combine the partials into a single screen stylesheet. */
@import "partials/normalize";
@import "partials/base";
@import "partials/text";
@import "partials/jquerybookmark";
//@import url("../css/normalize.min.css");

/* CSS Document */
/* This file includes PIE.htc (http://css3pie.com/) a script that lets CSS3 be used in IE6-9*/
/* ====================================================================================================
    Table of Content
    Theme Settings
    1. Typography - See partial _text.scss
    2. Reusable Components
    3. Page Layout
    4. Navigation
        a. Navigation
        b. Left Navigation

    5. Footer
    6. Content
        a. Homepage Styles
        b. Page Styles

    7. Blog Template
    8. Print Template
    9. Buttons
    10. Vin65 Overrides
        a. User Tools
        b. Homepage Product Group
        c. Checkout Overrides
*/

//   ===================================================================================================
//      Theme Settings
// =====================================================================================================


/*   ===================================================================================================
     1. Typography - These USED TO get copied into the admin.css
     
     rather, now are moved to  _text.scss partial, which is
     imported here and into admin.scss
======================================================================================================== */
/*   ===================================================================================================
     2. Reusable Components
======================================================================================================== */


button.defaultBtn {
    @include presquile-button;  
} 

/*   ===================================================================================================
     3. Page Layout
======================================================================================================== */

// use wrapper class to center divs
// used on #top-navigation, #columns-wrapper
.wrapper {
    width:$websiteWidth;
    margin: 0 auto;
    clear:both;
    
    @include pie-clearfix;
}

#all-below-top-navigation {
    position:relative;
    clear:both;
    background: url(../images/background-band.png) repeat-x;    
}

#left-column {
    position:relative;
    width: 213px;
    float: left;    
    padding-top: 354px;//295px;
    padding-left: 12px;
    @include pie-clearfix;

}
#right-column {
    //margin-left: 225px;
    float:left;
    width:788px;
    background-color:#FFF;
    border-left: 4px solid white;    
    @include pie-clearfix;       

    #rightColumnBanner {
        .v65-pod {
            position:relative;
            .v65-podImage {
                img {display:block;}
            }     
           .v65-podDescription {
                width:100%;
                position: absolute;
                top: 0;
                left: 0;
                p {
                    color: #fff;
                    letter-spacing: 1px;  
                    font-size: 14px;   
                    line-height:17px;
                    
                    a {
                        
                        color:#fff;
                        text-decoration: underline;
                        
                        &:focus, &:hover, &:active, &:visted {
                            color:#fff;
                            text-decoration: underline;
                        }    
                        
                    }               
                }
            }
        }                   
    }
}

#branding {
    position:absolute;
    top:0;
    right:0;
    width: 634px;
    height:295px;
    background: url(../images/left-bleed.jpg) no-repeat top right;
       
    #site-id {
        
        display:block;
        position:absolute;
        top:0;
        right:0;
              
        #logo {
            display: block;
            padding-bottom:10px; 
        }
        #site-title {
            height:0;
            //width: 170px;
            padding-top: 32px;
            overflow: hidden;
            margin-left: 30px;
            background: #fff url(../images/presquile-text-logo.gif) no-repeat;            
        }
        
    }   
    
} // #branding


#pageContent {
    margin: 4px 0 0 0px;
    background: #fff url(../images/page-background-logo.gif) no-repeat;

    
    
    .reviews-page-htm & {
        #mainReviewsContent {
            width:485px;
            float:left;
        }
        #pod-ReviewsImage {
            img {
                display:block;
                float:right;
                padding-top:55px;
            }
            
        }
    }
}

// PAGE LAYOUT VARIATIONS PER TEMPLATE

.product-drilldown-page-htm {
    #pageContent {
        background:none;
    }
}

.reviews-page-htm {
    #pageContent {
        #mainReviewsContent {
            width:485px;
            float:left;
            
            h2 {
                border-bottom: 1px solid #ebe8e2;
            }             
            
/* 
            h1 + p.right,
            h1 + h2 { 
                margin-top:25px;
            }
            h2 + h3,
            h3 + h4 {
                margin-top:11px;
            } 
*/
            p + h4 { 
                margin-top:20px;
            }
        }
        #pod-ReviewsImage {
            img {
                display:block;
                float:right;
                padding-top:55px;
            }            
        }
    }
}
.home-htm {    
    
    #columns-wrapper-outer {
        position:relative;
        clear:both;
        overflow:hidden;
        background-color: $bannerBackgroundColor;
    } 
    .wrapper {
        width:$homepageWebsiteWidth;
    }
    #right-column { 
        width:264px;
    }      

    #left-column {
        width:264px;
        padding-left:0;
        padding-right:68px;
        padding-top: 392px;
            
    }       
    #right-column {
        /*
        float:none;
        margin-left:332px;
        */
       width:794px;
    }
    
    
    #branding {
        
        width: 651px;
        height:570px;
        background: url(../images/home-left-bleed.jpg) no-repeat top right;
       
        #site-id {        
            margin-top: 31px;
            margin-right:68px;
            height: 0;
            padding-top: 341px;
            width: 224px;
            //margin: 31px 0 20px 27px;
            background: transparent url(../images/presquile-logo-with-text.png) no-repeat -224px 0;
            overflow: hidden;   
            
            &:hover {
                background: transparent url(../images/presquile-logo-with-text.png) no-repeat 0 0;    
            }         
        }        
    } 

    #pageContent {
        position:relative;
        margin:0;
        background:none;  
        h1 {
            color: #2b2422;
            font-size:13px;
            font-weight:bold;
            margin:0;
            padding:0;
            text-align: center;
        }
        p {
            //font-family: Arial;
            font-size: 11px;
            color: #695753;
            text-align: justify;
            width: 264px;
            line-height: 14px; 
            margin-bottom:16px;               
        }          
    }       
}


.page-without-heading-htm {
    h1 {
        height:0;
        margin:0;
        text-indent:-9999px;
    }    
}
.h1-hidden {
    height:0;
    margin:0;
    text-indent:-9999px;
}

/*   ===================================================================================================
     3. Top-Navigation
======================================================================================================== */
#top-navigation {
    
    padding-top:61px;

} //#top-navigation

/* ----- a. Main Menu -----*/
#mainMenu {
    
    width:650px;//637px;
    float:left;
    @include pie-clearfix;
    
    ul { // #mainMenu ul
        
        li { // #mainMenu ul li 
            display:block;
            position:relative;
            width:auto;
            float:left;
            
            &.v65-home {display:none;}
            
            a { // #mainMenu ul li a
                
                font-family: $mainMenuFontFamily;
                font-size: $mainMenuFontSize;
                color: $mainMenuFontColor;
                text-transform: uppercase;
                padding: 0 16px 12px 0;
                display: inline-block;
                letter-spacing: 0.4px;
                
                &.vin65-selected {
                    color:$contrastFontColor;
                } //&.vin65-selected                
            
            } // #mainMenu ul li a
            
            ul { // #mainMenu ul li ul
                
                display: none; 
                position: absolute; 
                width: auto; 
                background-color: $mainMenuDropdownsBackgroundColor; 
                border: 1px solid #fff; 
                border-top: none; 
                padding: 7px 18px 0px 8px;
                
                li { // #mainMenu ul li ul li
                
                    width: auto; 
                    float: none;
                    padding-bottom: 9px; 
                    display: block; 
                    line-height: 85%; 
                    white-space: nowrap; 
                    
                    a { // #mainMenu ul li ul li a
                    
                        display:inline;
                        font-family:$fontFamily;
                        font-size: 85%; 
                        color:$mainMenuDropdownsFontColor;
                        text-transform: none; 
                        letter-spacing: 0.5px;
                        
                        &:hover { // #mainMenu ul li ul li a:hover
                            
                            text-decoration:underline;
                            color:$mainMenuDropdownsFontColor;
                            
                        } // #mainMenu ul li ul li a:hover
                    
                    } // #mainMenu ul li ul li a
                    
                }  // #mainMenu ul li ul li
                
            } // #mainMenu ul li ul
            
            &:hover { // #mainMenu ul li:hover

                a { // #mainMenu ul li:hover a
                
                    color: $headerFooterFontColorHover;
                    
                } // #mainMenu ul li:hover a
                                
                ul { // #mainMenu ul li:hover ul
                
                    display: block; 
                    z-index: 1000;
                    
                    li { // #mainMenu ul li:hover ul li
                    
                        a { // #mainMenu ul li:hover ul li a 
                        
                            color:$mainMenuDropdownsFontColor;
                        
                        } // #mainMenu ul li:hover ul li a
                        
                    } // #mainMenu ul li:hover ul li                     
                    
                } // #mainMenu ul li:hover ul
                
            } // #mainMenu ul li:hover
            
        } // #mainMenu ul li 
        
    }  // #mainMenu ul
    
}  // #mainMenu

#user-tools {
/*  vin65 legacy default styles
    height: 36px;
    float: right;
    font-size: 0.917em;
    line-height: 36px;
    position: relative;
    width: 400px;
    z-index: 100
    
 */    
    width:305px;//315px;//380px;//221px;
    height:auto;
    float:right;//left
    font-size:$headerFooterFontSize;
    line-height:$headerFooterFontSize;
    //padding-top:3px;
    //text-align:right;
    
    #v65-modalCart {
        position:relative;
        float:right;
        margin-left:5px;
        text-align:right;

/*  vin65 legacy default styles        
        position: absolute;
        top: 0;
        right: 0
*/
        
    }
    
/*  vin65 legacy default modal cart styles  START */

    #v65-toggleModalCart {
        padding: 3px 4px 0 0;
        
        a {
            color: #000 //  vin65 legacy default style
        }
        
    }

    #v65-modalCartDropdown {
        background-color: #FFF;
        color: #000;
        display: none;
        right: 0;
        position: absolute;
        top: 32px;
        text-align: left;
        width: 272px;
        line-height: normal
    }
    #v65-modalCartBody {
        background-color: #FFF;
        border: 1px solid #333;
        border-bottom: 5px solid #333;
        color: #000;
        font-size: 9px;
        padding: 10px;
        
        p {
            color: #000;
            
            .modalLinkAltBtn[href="javascript:vin65.cart.hideCart();"] {
                
                margin-bottom: 14px;
            }
            
        }
        
        td a, // is this selector necessary?
        a {          
            color: #000;
            &:hover {
                color: #000;
            }
        } // td a, a
   
    } // #v65-modalCartBody

    #v65-modalCartTable {
        margin-bottom: 10px;
        padding: 0;
        width: 100%;
        line-height: normal;
        
        th {
            background-color: #efefef;
            border-top: 1px solid #ccc;
            font-size: 9px;
            font-weight: bold;
            padding: 2px 1px;
            text-align: left
        }
        
        td {
            border-top: 1px solid #ccc;
            font-size: 9px;
            padding: 2px 1px;
            vertical-align: top
        }
        
    }

    #v65-modalCartTableSubtotal {
        td {
            background-color: #f9f7f3;
            font-size: 9px;
            font-weight: bold;
            vertical-align: top
        }
    }
    

    #v65-modalCartFooter {
        display: none
    }
    
/*  vin65 legacy default modal cart styles  END */    
  
   
    .v65-yourAccount,
    .v65-editProfile,
    .v65-login,
    .v65-logout {
        line-height:inherit;
        float:right;
        margin:0;
        padding:0;
        width:auto;
        border:none;
        text-align:left;   
    }
    .v65-yourAccount,
    .v65-editProfile {
        margin-left:5px;
/*  vin65 legacy default styles        
        border-right: 1px solid #666;
        float: left;
        line-height: 12px;
        margin-right: 10px;
        margin-top: 12px;
        padding-right: 10px;
        text-align: right;
        width: 179px
*/                
    }

    .v65-login, 
    .v65-logout {
/*  vin65 legacy default styles        
        float: left;
        line-height: 12px;
        margin-top: 12px;
        width: 50px
*/
    }
    #share-this {
        float:left;
        position: relative;
        width: auto;        

        #bookmark-module-link { 
            position: relative; 
            border: none; 
            padding:3px 0;
            //padding: 0px 21px 12px 0px;
            //font-family: Arial; 
            //line-height: 77%; 
            //font-size: 77%; 
            //color: #a9a8a8; 
            //text-transform: uppercase; 
            //displahttp://localhost:56568/live/assets/css/home.cssy: inline-block; padding: 3px 4px 4px 0; border-right: 1px solid #a9a8a8;

            
            #bookmark-module {
                display: none; 
                position: absolute; 
                left: -75px;
                
                #bookmark-module-inner-top { 
                    background: transparent url(/assets/images/social-links/bookmark-top.png) no-repeat top center; 
                    padding-top: 8px; 
                    
                    #bookmark-module-inner { 
                        overflow:hidden;
                        background-color: #fff; 
                        border: 1px solid #7f7b76; 
                        width: 224px; 
                        border-top: none; 
                        padding: 14px 18px 18px 19px; 
                        text-align: left; 
                        cursor: default; 
                        
                        #bookmark-module-linklist {
                            a { 
                                padding: 3px 0 0 20px; 
                                background: transparent url(/assets/images/social-links/bookmarks.png) no-repeat top left; 
                                font-size: 11px;//108%; 
                                border: none; 
                                display: block; 
                                width: 80px; 
                                float: left; 
                                height: 13px; 
                                margin-bottom: 3px;
                                text-transform: capitalize; 
                                
                                &:hover { text-decoration: underline; }
                                &#bookmark-module-linklist-email { background-position: 0px 0px; }
                                &#bookmark-module-linklist-fb { background-position: 0px -16px; }
                                &#bookmark-module-linklist-twitter { background-position: 0px -32px; }
                                &#bookmark-module-linklist-digg { background-position: 0px -48px; }
                                &#bookmark-module-linklist-delicious { background-position: 0px -64px; }
                                &#bookmark-module-linklist-stumbleupon { background-position: 0px -80px; }
                                &#bookmark-module-linklist-linkedin{ background-position: 0px -96px; }
                                &#bookmark-module-linklist-google { background-position: 0px -112px; width: 150px; }
                                &#bookmark-module-linklist-yahoo { background-position: 0px -128px; }
                                &#bookmark-module-linklist-blogger { background-position: 0px -144px; }
                                &#bookmark-module-linklist-myspace { background-position: 0px -160px; }
                                
                            }
                        }
                    }
                    
                } // #bookmark-module-inner-top
                 
            } //#bookmark-module                
            
            &:hover { // #bookmark-module-link:hover
                #bookmark-module {
                    display: block; 
                    z-index: 1000; 
                    background-color: transparent; 
                    padding-top: 11px; 
                }
            } // // #bookmark-module-link:hover
            
        } // #bookmark-module-link
            

    
    } // #share-this 



    #share-button {
        //position:relative;
        float:left;
        
        
    }
    
    // styles common to all user tools links
    .bookmark_popup_text, // using jquerybookmark
    #bookmark-module-link, // using old presquile js
    #v65-toggleModalCart,
    .v65-modalLoginLink,
    .v65-logout a,
    .v65-editProfile a { 
        display: inline-block;
        text-transform:uppercase;
        color:$headerFooterFontColor;
        text-decoration:none;        
    }
    //#bookmark-module-link,  // using old presquile js
    .bookmark_popup_text { // using jquerybookmark
        position:relative;
        padding-top:3px;
    }    
    .v65-modalLoginLink,
    .v65-logout a,
    .v65-editProfile a  { 
        padding: 3px 4px 4px 0;
        border-right: 1px solid $headerFooterFontColor;          
    }
    
}

/* ----- b. Left Navigation -----*/ 

#leftNav {
    
    padding-right: 45px;
    #leftNav-menu {
        ul  {
            margin:0;
            li {
                display:inline;
                width:auto;
                margin:0;
            }
        }
        & > ul  {
            //margin:0;
            & > li {
                //display:inline;
                //width:auto;
                //margin:0;
                & > a {
                    display:none;
                    
                    &.v65-pageAParent,
                    &.v65-selected, 
                    &.v65-leftSelected  {
                        
                        display:inline;
                        margin: 0;
                        font-size: 16px;//123.1%;
                        font-family:$serifFontFamily;
                        font-weight: bold;
                        text-transform: uppercase;
                        color:$heading1FontColor;
                        
                        &:hover,&:active {
                            color:$contrastFontColor;
                        } 
                                                   
                    } // &.v65-pageAParent
                    
                } //a
                
                ul {
                    
                    li {
                        
                        a {
                            font-family: Arial;
                            font-size: 93%;
                            color: $leftNavListItemFontColor;
                            display: block;
                            margin-top: 13px;
                            letter-spacing: 1px;
                            
                            &:hover, 
                            &:active,
                            &.v65-pageAParent,
                            &.v65-leftSelected {
                                color:$contrastFontColor;
                                text-decoration:none;
                            }
                            
                        } //a
                        
                        ul {
                            padding-left:8px;
                            
                            li {
                                
                                a {
                                    margin-top:4px;
                                }
                                
                                ul {
                                    display:none;
                                }
                                
                            } //li
                            
                        } // ul
                        
                    } //li
                                    
                } // ul                
                
                
            } //li
            
        } //ul        
    }
    
    #leftNav-section-heading {
        
        //@extend h1;
        margin: 0;
        font-size: 16px;//123.1%;
        
        // for section landing pages
        
        &.page-heading { // the section heading in the leftNav also serves as the page's h1
            #leftNav-section-heading-link {
                color:$heading1FontColor;
                &:hover,&:active {
                    color:$contrastFontColor;
                }
            }         
        }


        // for sub pages
        // to make the section heading clickable
        // uses layoutHeaderNav with all the links hidden 
        // except when pageAParent or selected 
        &.layoutHeaderNav {
            ul  {
                margin:0;
                li {
                    display:inline;
                    width:auto;
                    margin:0;
                    a {
                        display:none;
                        &.v65-pageAParent,
                        &.v65-selected {
                            
                            display:inline;
                            margin: 0;
                            font-size: 16px;//123.1%;
                            font-family:$serifFontFamily;
                            font-weight: bold;
                            text-transform: uppercase;
                            color:$heading1FontColor;
                            
                            &:hover,&:active {
                                color:$contrastFontColor;
                            } 
                                                       
                        } // &.v65-pageAParent
                        
                    } //a
                    
                } //li
                
            } //ul
            
        } // &.layoutHeaderNav     
    
    } //#leftNav-section-heading 
    
    #leftNav-section-subpages {
        
        ul {
            
            li {
                
                a {
                    font-family: Arial;
                    font-size: 93%;
                    color: $leftNavListItemFontColor;
                    display: block;
                    margin-top: 13px;
                    letter-spacing: 1px;
                    
                    &:hover, 
                    &:active,
                    &.v65-pageAParent,
                    &.v65-leftSelected {
                        color:$contrastFontColor;
                        text-decoration:none;
                    }
                    
                } //a
                
                ul {
                    padding-left:8px;
                    
                    li {
                        
                        a {
                            margin-top:4px;
                        }
                        
                        ul {
                            display:none;
                        }
                        
                    } //li
                    
                } // ul
                
            } //li
                            
        } // ul
        
    } // #leftNav-section-subpages
    
} // #leftNav 

// add the styles to work with the js to update the hard-coded left nav on product drilldown pages
.product-drilldown-page-htm {
    
    #leftNav {
        
        #leftNav-section-subpages {
            
            ul {
                
                li {

                    a {
                        
                        // neuralize color change based on this class,
                        // because any page might be 'selected' in vin65's mind                       
                        &.v65-leftSelected {
                            color:$leftNavListItemFontColor;
                        }
                        
                    } //a
                  
                    // hide the submenus of Appellations
                    ul {
                        display:none;
                    } // ul
                    
                    // show the submenus of current Appellation
                    &.parentVarietalListItem {
                        
                        & > a {
                           color:$linkColor; 
                        }

                        ul {
                            display:block;                        

                            li {
                                a {
                                    &.selectedAppellation {
                                        color:$linkColor;
                                    }
                                }
                                
                            } //li
    
                        } // ul                        
                        
                    }                    
                    
                } //li
                                
            } // ul
            
        } // .product-drilldown-page-htm #leftNav-section-subpages
        
    } // .product-drilldown-page-htm #leftNav
         
} .product-drilldown-page-htm


/*   ===================================================================================================
     4. Banner Text
======================================================================================================== */
.banner-text {
    letter-spacing: 1px;
    color: $bannerTextFontColor;
    font-family: Arial;
    font-size: 108%;
    
    em {
        font-weight: normal;
        font-style: normal;
        font-size: 121.4%;
        font-family: $serifFontFamily;
        text-transform: uppercase;        
    }  
    
    &#left-two-thirds-banner-text {
        
    }
}

/*   ===================================================================================================
     5. Wines Varietal Landing Page 
======================================================================================================== */
.varietal-landing-bottle-image {
   float: right; 
   //margin: -30px 67px 0px 80px; 
   margin: 0 67px 0px 80px;
}
.v65-productGroup {
    
    margin:0;
    
    .v65-productGroup-title {
        display:none;
    } 
    
    .v65-productGroup-teaser {
        float: none;
        margin-right: 0;
        width: auto;
        
        h2 {
                
            a {
/*            
                color:$fontColor;
                text-decoration:none;
            
                &:after {
                    content:" >";
                    color:$linkColor;
                }
            
                &:focus, &:hover, &:active, &:visted {
                    color:$fontColor;
                    text-decoration:none;
                }     
*/            
                           
            } // .v65-productGroup-teaser h2 a
        } // .v65-productGroup-teaser h2
         
    } // .v65-productGroup-teaser
    
    .v65-productGroup-products {
        
        float: none;
        text-align: left;
        width: auto;
        
        .v65-productGroup-product {
            
            float: none;
            margin: 0 0 5px 0;
            position: relative;
            width: auto;
            
            .vintageList-productGroup-product {
                
                //height:20px;
                line-height:20px;
                  
                .v65-product-title {display:none;}
                
                .v65-product-subtitle {
                    //display: inline;
                    //margin-right:56px;
                    width:85px;
                    float:left;                    
                    //display: inline-block;
                    font-size: 12px;//inherit;
                    line-height: inherit;
                    margin-bottom: 0;
                                    
                    a {
                        color: $linkColor;
                        &:active, &:hover, &:focus {
                            color:$contrastFontColor;
                            text-decoration:underline;
                        }
                                     
                    } // a
                                        
                } // .v65-product-subtitle
                
                .v65-product-addToCart {

                    //display: inline;
                    form, fieldset {display:inline;}
                    margin-left:85px;
                    margin-bottom:0;

                    .v65-product-addToCart-priceWrapper {
                        //display:inline;
                        //margin-right:50px;                        
                        float:left;
                        width:75px;
                        margin:0;
                        .v65-product-addToCart-unitDescription {
                            display:none;
                        }
                    }
                    
                    .v65-product-addToCart-button {
                        button.defaultBtn {
                            @include purchase-button;
                        }                         
                    }
                    
                    .v65-product-addToCart-securityMessage {
                        //display:inline;
                    }
                    .v65-product-addToCart-outOfStockMessage {
                        margin-left:75px;
                        font-style:italic;
                    }

                } // .v65-product-addToCart          
            
            } // .vintageList-productGroup-product 
            
            
        } // .v65-productGroup-product
    
            
    } // .v65-productGroup-products
    
    
} // .v65-productGroup 



/*   ===================================================================================================
     x. Custom Product Lists
======================================================================================================== */
.hidden-paging-page-htm {
    
    h1 {
        margin-left:28px;
    }
    
    #pageContent {
        margin-left:-28px;
    }
    
    #storeNotices {display:none;}
    
    .v65-paging {display:none;}

}

.specialOffer-product {
    float:left;
    width:346px;
    height:366px;//336px;
    padding:14px 16px 11px;
    margin-left:28px;
    margin-bottom: 22px;
    border: 1px solid #ddd9d0;
    
    .v65-product-photo {

        margin-bottom:9px;

        img {
            display:block;
            //width:100%;
            border: 1px solid #ddd9d0;
        }
    
        a {
            cursor:default;
        }

    }    

    .v65-product-title {
        
        @extend h2;
        
        a {
            cursor:default;
            color: $heading2FontColor;
            &:active, &:hover, &:focus {
                color: $heading2FontColor;
                text-decoration:none;
            }       
        } // a
        
    } // .v65-product-title 
    
    .v65-product-teaser {
    
        //@extend p;    
    }
    
   #ecommerce-box {

        border: 1px solid #bab2aa;
        margin-bottom: 13px;
        padding: 9px 11px 12px 12px;
        
        //background: transparent url(/assets/images/ecommerce/ecommerce-module-background.jpg) repeat-y top left;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5ZjZlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f6ef));
        background-image: -webkit-linear-gradient(left top, #ffffff, #f9f6ef);
        background-image: -moz-linear-gradient(left top, #ffffff, #f9f6ef);
        background-image: -o-linear-gradient(left top, #ffffff, #f9f6ef);
        background-image: -ms-linear-gradient(left top, #ffffff, #f9f6ef);
        background-image: linear-gradient(left top, #ffffff, #f9f6ef); 
        
        font-size: 93%;
        color: #605956;

        #default-ecomm {
            
            position:relative;
            overflow:hidden;
   
            .v65-product-addToCart {
                
                margin-bottom:0;
                
                legend {display:none;}
                           
                .v65-product-addToCart-priceWrapper {
                    
                    .v65-product-addToCart-price {
                        //height: 20px;
                        //line-height: 20px;
                        display:inline-block;
                        padding-top:4px;                           
                        font-weight:bold;
                    }

                    .v65-product-addToCart-unitDescription {
                        display:none;                            
                    }
                    
                }  
     
                .v65-product-addToCart-quantity {
                    float:right;
                    height: 20px;
                    line-height: 20px;
                    &:before {
                        content: "Quantity  ";
                        }
                    } 
                    
                .v65-product-addToCart-button {
                    display:block;
                    float:right;
                    clear:right;
                    padding-top:18px;
  
                    button.defaultBtn {
                        @include purchase-button;
                    }  

                } // .v65-product-addToCart-button

                .v65-product-addToCart-securityMessage,
                .v65-product-addToCart-outOfStockMessage {
                    display:inline-block;
                    float: right;
                    padding-top:4px;
                    margin-top: 0;//-14px;
                    font-family: Palatino,Georgia,Times New Roman,Serif;
                    color: #717171;
                    text-align: center;
                    font-size: 11px;
                    width: 140px;//88px;                        
                }
                .v65-product-addToCart-outOfStockMessage {
                    font-style:italic;
                }
                .v65-product-addToCart-securityMessage + .v65-product-addToCart-outOfStockMessage {
                    margin-top:14px;
                }  
    
            } // .v65-product-addToCart  
            
                    
                
            .v65-product-actionMessage {
                position: absolute;
                width:100px;
                margin:0;
                bottom: 6px;                  
                color: #8a8380;
                font-style: italic;
                font-size: 11px;                    
            }
                    
        }
            
    }

} // .productCustomList-product


/*these settings were set-up, but not used?
.productCustomList-product {
    
    height:20px;
    line-height:20px;
    clear:both;
    
    .v65-product-title {
        
        display:inline;
        font-size:12px;
        
        a {
            color: $linkColor;
            &:active, &:hover, &:focus {
                color:$contrastFontColor;
                text-decoration:underline;
            }       
        } // a
        
    } // .v65-product-title 
    
    .v65-product-subtitle {display:none;}
    
    .v65-product-addToCart {
        margin-bottom: 0;
        display: inline;
        
        form {
            display:inline;
            margin-bottom: 0;
        }
        
        fieldset {display:inline;}
        
        .v65-product-addToCart-securityMessage {display:inline;}
    }
    
} // .productCustomList-product
*/
/*   ===================================================================================================
     6. Wine Detail Pages (Product Drilldown Pages)
======================================================================================================== */
.product-drilldown-page-htm {
    
    .v65-productWrapper {
        overflow: hidden;
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;        
                
        
        #v65-product-leftCol {
            
            float:left;
            width:480px; 
    
            h1#wine-heading {
                
                .v65-product-attribute {
                    display:inline;
                    .v65-product-attributeLabel {display:none;} 
                    .v65-product-attributeValue {
                        display:inline;
                        margin-bottom:inherit;
                    }           
                }
                .v65-product-subtitle { 
                    display:none;
                    //color:white; 
                }
                
            } //h1#wine-heading 
            
            .v65-product-description {
                
                margin:0;
                padding:0;
                border:none;
                
            } // .v65-product-description
            
            .v65-product-media-thumbnail {
                //width:auto;
                display:none;
            }
            .v65-product-media-title {
                width:auto;
                a {
                    min-height:16px;
                    display: block;
                    background: #fff url(../images/pdf-icon.gif) no-repeat top left;
                    padding: 0 0 2px 20px;
                    color:$linkColor;
                }
            }
            
            #vintage-info-tabgroup {
                
                margin-top: 10px;
                
                #vintage-info-tabs {
                   
                    // hide them until js shows them
                    display:none;
                    padding:0;
                    list-style-type: none;
                    
                    .vintage-info-tab {
                        
                        display: inline-block;
                        list-style: none;
                        zoom: 1;
                        border: 1px solid #dcd8d3;
                        background-color: #f0f0f0;
                        padding: 4px 13px 2px 8px;
                        
                        a {
                            color: #aca5a2;
                            font-size: 116%;
                            font-family: $serifFontFamily;
                            font-weight: bold;
                        }                
        
                        &.active {
                            
                            background-color: #fff;
                            border-bottom: 1px solid #fff;
                            
                            a {
                                color: #302f2c
                            }                                          
                        }
                        
                    } // .vintage-info-tab                
                    
                }
                
                
                .vintage-info-tab-content {
                    
                    margin-top: -1px;
                    border-top: 1px solid #dcd8d3;
                    padding: 12px 0 0 10px;
                    display: none;    
                    
                    &.active {
                        display:block;
                    } 
                    
                    .v65-product-attribute {
                        font-size: 93%;    
                        line-height: 149%; 
                        
                        .v65-product-attributeValue {
                            margin-bottom:0;
                            padding-bottom: 5px;                             
                        }
                        
                    }    
                           
                    .v65-wine-wineMakerNotes {
                        .v65-product-attributeLabel {display:none;} 
                    }
                    
                } // .vintage-info-tab-content
                
            }
            
        } // #v65-product-leftCol
        
        #v65-product-rightCol {
            float: right;
            width: 271px;
            margin-top: 32px; 
            
            #ecommerce-box {

                width: 246px;
                border: 1px solid #bab2aa;
                margin-bottom: 13px;
                padding: 9px 11px 12px 12px;
                
                //background: transparent url(/assets/images/ecommerce/ecommerce-module-background.jpg) repeat-y top left;
                background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5ZjZlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
                background-size: 100%;
                background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f6ef));
                background-image: -webkit-linear-gradient(left top, #ffffff, #f9f6ef);
                background-image: -moz-linear-gradient(left top, #ffffff, #f9f6ef);
                background-image: -o-linear-gradient(left top, #ffffff, #f9f6ef);
                background-image: -ms-linear-gradient(left top, #ffffff, #f9f6ef);
                background-image: linear-gradient(left top, #ffffff, #f9f6ef); 
                
                font-size: 93%;
                color: #605956;

              #default-ecomm, 
                .v65-product-relatedProducts-product {
                
                    position:relative;
                    overflow:hidden;
                    
                    .v65-product-addToCart {
                        
                        margin-bottom:0;
                        
                        legend {display:none;}

                        .v65-product-addToCart-unitDescription {
                            width: 50px;//61px;                        
                            float: left;
                            //height: 20px;
                            //line-height: 20px;
                            display:inline-block;
                            padding-top:4px;
                            padding-bottom: 35px;
                            font-weight:bold    
                        }
                                            
                        .v65-product-addToCart-price {
                            //height: 20px;
                            //line-height: 20px;
                            display:inline-block;
                            padding-top:4px;
                            font-weight:bold;
                            font-weight:bold;
                        }

             
                        .v65-product-addToCart-quantity {
                            float:right;
                            height: 20px;
                            line-height: 20px;
                            &:before {
                                content: "Quantity  ";
                            }
                        } 
                        
                        .v65-product-addToCart-button {
                            display:block;
                            float:right;
                            clear:right;
                            padding-top:18px;
          
                            button.defaultBtn {
                                @include purchase-button;
                            }  
    
                        } // .v65-product-addToCart-button

                        .v65-product-addToCart-securityMessage,
                        .v65-product-addToCart-outOfStockMessage {
                            display:inline-block;
                            float: right;
                            padding-top:4px;
                            margin-top: 0;//-14px;
                            font-family: Palatino,Georgia,Times New Roman,Serif;
                            color: #717171;
                            text-align: center;
                            font-size: 11px;
                            width: 140px;//88px;                        
                        }
                        .v65-product-addToCart-outOfStockMessage {
                            font-style:italic;
                        }
                        .v65-product-addToCart-securityMessage + .v65-product-addToCart-outOfStockMessage {
                            margin-top:14px;
                        }  
    
                    } // .v65-product-addToCart  
                
                        
                    
                    .v65-product-actionMessage {
                        position: absolute;
                        width:100px;
                        margin:0;
                        bottom: 6px;                  
                        color: #8a8380;
                        font-style: italic;
                        font-size: 11px;                    
                    }
                    
                } #default-ecomm, .v65-product-relatedProducts-product
                

                .v65-product-relatedProducts-product:first-of-type {
                    padding-top:0;
                    border-top:none;
                }
                .v65-product-relatedProducts {
                    
                    margin-top:20px;
                    padding-top:20px;
                    border-top: 2px solid #bab2aa;
                    
                    .v65-product-relatedProducts-title {
        
                        font-size:0px;
                        
                        &:after {
                            content: "Other Sizes:";
                            font-size:14px;
                            font-weight:bold;
                            margin:0 0 5px;
                        }
                        
                    } // .v65-product-relatedProducts-title
                    
                    .v65-product-relatedProducts-product {
                        width: auto;
                        float:none;
                        margin: 15px 0 0;
                        text-align: left;
                        padding: 15px 0 0;
                        border-top: 1px solid #bab2aa;
                        
                        &:nth-child(2) {
                            padding:0;
                            border-top:none;
                        }
                             
                        .v65-product-photo {display:none;}
                        .v65-product-title {display:none;}
                        
                        .v65-product-addToCart {
                            .v65-product-addToCart-priceWrapper {
                                display:inline;
                                margin-right:10px;
                            }
                            
                            .v65-product-addToCart-quantity {
                                display: inline;
                            } 
                            
                            .v65-product-addToCart-button {
                                display: inline;
                            }                      
                                               
                        } // .v65-product-addToCart
                        
                    } // .v65-product-relatedProducts-product  
                    
                    .v65-product-relatedProducts-title + .v65-product-relatedProducts-product {
                        padding:0;
                        border-top:none;
                    }                    
                    
                    
                } // .v65-product-relatedProducts
                
            } // #ecommerce-box
            
            
        } // #v65-product-rightCol
        
        
    } // .v65-productWrapper
    
} // .product-drilldown-page-htm
/*   ===================================================================================================
     x. Wine Club 
======================================================================================================== */
// boxed descriptions of each (Presquile and Petite) club, 
// created as Content Block components 

.wine-club-module {
    //height: auto;
    //min-height: 350px;
    overflow:hidden;
    border: 1px solid #dbd8d0;
    margin-bottom: 16px; 
    padding-left:23px;   
    
    img {
        float: right;
        margin-left: 45px;        
    }
    ul {
        list-style-type: disc;
        display:block;
                
        li {
            list-style: disc;
            list-style-position: outside;
            color: #8A8380;
            font-family: Arial;
            font-size: 93%;
            line-height: 149%;
            margin-left: 16px;
        }
    }
    
}
.subscription-style {
    border: 1px solid #dbd8d0;
    margin-bottom: 16px;
    min-height: 108px;
    height: auto;
    padding-left:23px;
    padding-right:300px;
}
.already-a-member {
    padding-top:23px;
    line-height:18px;
    text-align:right;
    .signInButton {
        font-family:$serifFontFamily;
        padding:2px 5px;
        border-top: 1px solid #bab2aa;
        border-left: 1px solid #bab2aa;
        border-bottom: 2px solid #bab2aa;
        border-right: 2px solid #bab2aa;  
        text-transform:uppercase;      
    }
}
.club-exclusives-sign-in {
    
}

//My Account Club Membership

.v65-memberClubDescription {
    display:none;
}
/*   ===================================================================================================
     4. Footer
======================================================================================================== */

#footer {

    margin-top: 26px;
    padding-bottom: 1em;
    font-size: 77%; 
    text-transform: uppercase;
    color: $headerFooterFontColor;

    a {
        color: $headerFooterFontColor;
        &:hover{
            color: $headerFooterFontColorHover;
        }
    }
    
    #footer-links-copyright,
    #media-social  { 
        width: 50%; 
        float: left; 
    }    
    
/*  old vin65 legacy default
    
    padding: 1.5em 0; 
    text-align: center;
    width: 100%;
    
*/    

    #footer-links {
        
        ul {
            
            li {
                display: inline;
                //margin-left:5px;
                //padding:0 5px;
                
                a {
                    display: inline-block;
                    font-size: 0.917em;
                    position: relative;
                    padding: 3px 4px 4px 5px;
                    border-left: 1px solid #a9a8a8;                                
                }
    
                &:first-child {
                    margin-left:0;
                    a {
                        //margin-left: 0;
                        padding-left: 0; 
                        border-left: none;  
                    }
                } 
            }

        }
    }

    #media-social { 

        text-align: right; 
        
        ul {
        
            li {
                display: block; 
                float: right; 
                margin-left: 4px;
            }
            
        }
        
        #media-trade-button { 
            display: block; 
            margin-right: 5px; 
            margin-top: -2px;
            padding: 3px 6px 2px 6px; 
            border: 1px solid #d1d1d1; 
            font-family: $serifFontFamily;
            //font-size: 77%; 
            //color: #a9a8a8; 
            //text-transform: uppercase; 
        }
        
    }

}


/*   ===================================================================================================
     5. Content
======================================================================================================== */

.wrapper{
    margin: 0 auto;
    position: relative;
    width: $websiteWidth;
}


/* ----- a. Homepage Styles ----- */
.homepageContent{
    background: #fff;
    box-shadow: 0 0 20px $boxShadowColor;
    behavior: $pie;
}

.homepageText{
    float: left;
    margin-bottom: 20px;
    padding: 0 30px 30px 20px;
    width: 470px;
}

.homepageProductGroup {
    float: left;
    margin: 0 0 20px;
    padding: 0 0 30px 20px;
    width: 400px;
}

#slider{
    height: 350px;
    overflow: hidden;
    width: 950px;
    }

#santa-maria-valley-vineyard-map {
    position: relative;
    width: 788px;
    height: 437px;
    background: #fff url(../images/vineyard-map.jpg) no-repeat;    
    
    a {
        position: absolute;
        display: block;
        color: #db5d3c;
        font-size: 12px;//93%;
        text-align: center;
        height: 16px;
        border: 1px solid transparent;
        padding-top: 2px;  
        
        &:hover {
            border-color: #db5d3c; 
            color: #fff; 
            background-color: #db5d3c;             
        }
        
        &#scv {
            top: 65px;
            left: 239px;
            width: 151px;
        }      
        
        &#rrv {
            top: 137px;
            left: 316px;
            width: 126px;
        }      
        
        &#bnv {
            top: 187px;
            left: 430px;
            width: 143px;
        }      
        
        &#pv {
            top: 215px;
            left: 391px;
            width: 130px;
        }      
        
        &#shv {
            top: 244px;
            left: 384px;
            width: 151px;
        }      
        
   
    }
}
/*   ===================================================================================================
     z. Events
======================================================================================================== */
/* 
#events-list {
    position:relative;
    background: #fff url(../images/border-pixel.png) repeat-y top 313px;
    min-height: 300px;
}
 */
.v65-calendarList-Month {display:none;}

.v65-calendarList-Event {
    &:after,
    &:before {display:none;}
    padding:0 0 9px 0;
    margin:0;
    
    .v65-calendarList-Title {
        width:300px;
    } 
    .v65-calendarList-Time {
        width:300px;
        font-style: normal;
    }
    .v65-calendarList-Description {
        
        //display:none;
        
        position:absolute;
        top:0;
        right:35px;
        width:400px;
        margin:0;
        
        h2 {
            margin-top:0;
        }
        
    }
}

/*   ===================================================================================================
     x. Forms
======================================================================================================== */
#pageContent {
    
    #v65-SiteMap {
        
        margin:0;
        padding:0;
        //font-size:12px;
            
        & > li {  // home page, and the whole list as sub items
        
            & > a {display:none;} // hide the home page link
            list-style-type: none;
            
            & > ul { // list of all the top level sections
                
                list-style-type: none;
                margin:0;
                padding:0;
                
                & > li {  // top level section item 
                    
                     margin:0;
                     list-style-type: none;
                     
                     & > a {
                         //display:block; // show all links nested lower than home page
                         @extend h2;
                         margin:0;
                         //font-family: $serifFontFamily;
                         color: $fontColor;
                         text-transform: uppercase;
                         
                     } 
                     
                     & > ul { // list of subpages
                     
                        list-style-type: none;
                        margin-bottom:20px;
                         
                         & > li { // subpage item
                             
                             list-style-type: none;
                             font-size:12px;
                             line-height:16px;
                             
                             
                             & > ul { // hide all subsubpages and below
                                 display:none;
                             }
                             
                         }
                     }
                }
                
                li + li { // two top level section items in sequence
                    margin-bottom:8px;
                }
                li {
                    ul {
                        li + li {
                            margin-bottom:0;
                        }
                    }
                }
            }
            
        } 
        
    }
    
}

/*   ===================================================================================================
     x. SiteMap
======================================================================================================== */
.siteMap {
    font-size:12px;
}

/*   ===================================================================================================
     x. Media & Trade
======================================================================================================== */
.media-resource {
    border-top: 1px solid #dbd9d3;
    padding: 9px 0 6px 0;
    
    .media-resource-link {
        display:block;
        float:right;
    }
    .media-resource-description {
        margin-bottom:8px;
    }
    .media-resource-thumbnail-link {
        
        img {
            max-height:120px;
            max-width:300px;
        }
    } 
}

/*   ===================================================================================================
     6. Blog Template
======================================================================================================== */

.blogContent{
    float: left;
    padding: 20px 25px 0 0;
    width: 520px;
}

.blogRightWrapper {
    float: right;
    padding-top: 20px;
    width: 325px;

    ul{
        list-style: none;
        margin: 0 0 1em;
        padding: 0;
    }

    li{
        font-size: 11px;
        margin: 0 0 0 10px;
    }
}

    .blogFilterLeft {
        float: left;
        padding: 0 25px 0 0;
        width: 150px;
    }

    .blogFilterRight {
        float: left;
        width: 150px;
    }

/*   ===================================================================================================
     7. Print Template
======================================================================================================== */

.printBody {
    background-color: #fff;
    background-image: none;
    margin: 0;
    padding: 0;
}

    .printWrapper {
        margin: 0 auto;
        width: 700px;
    }

        .printHeader {
            height: 150px;
            width: 700px;
        }

        .printContent {
            text-align: left;
            width: 700px;
        }

/*   ===================================================================================================
     8. Buttons
======================================================================================================== */

/* OPTIONAL BUTTON STYLES regular button: 
button.defaultBtn {
    background: transparent url(../images/buttons/btn_sprite.gif) no-repeat right -100px;
}

button.defaultBtn span {
    background: transparent url(../images/buttons/btn_sprite.gif) no-repeat left top;
}
*/

/* OPTIONAL BUTTON STYLES alt button: */
button.altBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat right -100px;
}

button.altBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat left top;
}

/* OPTIONAL BUTTON STYLES modal button: */
button.modalBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat right -50px;
}

button.modalBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat left top;
}

/* OPTIONAL BUTTON STYLES modal alt button: */
button.altModalBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat right -50px;
}

button.altModalBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat left top;
}

/* OPTIONAL BUTTON STYLES large button: */
button.largeBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_large_sprite.gif) no-repeat right -100px;
}

button.largeBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_large_sprite.gif) no-repeat left top;
}

/* OPTIONAL BUTTON STYLES large button: */
button.altLargeBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_large_alt_sprite.gif) no-repeat right -100px;
}

button.altLargeBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_large_alt_sprite.gif) no-repeat left top;
}


/* REQUIRED LINK BUTTON STYLES: */

/* Link Button Normal */
a.linkBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_sprite.gif) no-repeat right -100px;
}

a.linkBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_sprite.gif) no-repeat left top;
}

/* Link ALT Button Normal */
a.linkAltBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat right -100px;
}

a.linkAltBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_alt_sprite.gif) no-repeat left top;
}

/* Modal Link Button Normal */
a.modalLinkBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat right -50px;
}

a.modalLinkBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_modal_sprite.gif) no-repeat left top;
}

/* Modal Link ALT Button Normal */
a.modalLinkAltBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat right -50px;
}

a.modalLinkAltBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_modal_alt_sprite.gif) no-repeat left top;
}

/* Link Button Large */
a.largeLinkBtn {
    @include presquile-button;
    //background: transparent url(../images/buttons/btn_large_sprite.gif) no-repeat right -100px;
}

a.largeLinkBtn span {
    background:none;
    //background: transparent url(../images/buttons/btn_large_sprite.gif) no-repeat left top;
}

/*   ===================================================================================================
     x. cycle2 slideshows
======================================================================================================== */
.cycle-prev, .cycle-next {
    position: absolute;
    top: 0;
    width: 20%;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 800;
    height: 100%;
    cursor: pointer;
}
.cycle-prev {
    left: 0;
    background: url(../images/cycle2/left.png) 50% 50% no-repeat;
}
.cycle-next {
    right: 0;
    background: url(../images/cycle2/right.png) 50% 50% no-repeat;
}
/*   ===================================================================================================
     9. Vin65 Overrides
======================================================================================================== */

/* ----- a. User Tools ----- */

/* ----- b. Homepage Product Group ----- */

.homepageProductGroup .v65-productGroup-products{
    text-align: left;
    width: 100%;
}

    .homepageProductGroup .v65-productGroup-title{
        //color: $headingFontColor;
        font-family: $headingFontFamily;
        font-size: 26px;
        line-height: 1.2;
        margin: 0.25em  0 0.5em;
    }

    .homepageProductGroup .v65-productGroup-teaser{
        float: none;
        margin: 0;
        width: 100%;
    }

    .homepageProductGroup .v65-productGroup-product{
        margin: 0 0 1em;
        width: 100%;
    }

        .homepageProductGroup .v65-product-photo{
            float: left;
            width: auto;
        }

        .homepageProductGroup .v65-productGroup-product .v65-product-addToCart-priceWrapper{
            display: inline;
        }

/* ----- c. Checkout Overrides ----- */

#v65-fieldset-paymentMethod{
    float:left;
    width:400px;
}

form#v65-checkBilling .v65-additionalComments {
    float:none;
    margin-left:10px;
    padding:15px 0 0;
    width:390px;
}

#v65-signUpClubSummaryWrapper {
    margin-bottom: 20px;
}

/* ----- d. Member Overrides ----- */
#v65-form,
#v65-memberFormWrapper,
#v65-LoginFormWrapper {
    fieldset {
        font-size:12px;
        
        legend {
            font-size:15px;
        }
        
    }
}
/* 
#v65-loginForm input[type="checkbox"] {
    float: left;
    margin: 0em 0.3em 0 0.3em;
} 
*/
input[type="checkbox"] + label {
    margin-top:0.3em;//3px;
}

#pageContent .alert ul li.error {
    color:#fff;
}

#pageContent .alertYellow {
    background-color: #c53939;
    p {
        color: #fff;
    }
}
