<div class="productCustomList-product specialOffer-product">
    
    <v65:product:photo></v65:product:photo>
    
    <v65:product:title></v65:product:title>
    
    <v65:product:teaser></v65:product:teaser>
    
    <div id="ecommerce-box">
    
        <div id="default-ecomm">
    
            <v65:product:addToCart></v65:product:addToCart>
    
            <v65:product:actionMessage></v65:product:actionMessage>
    
        </div>
    
    </div> 
            
</div>