<div class="vintageList-productGroup-product">
     
      <v65:product:title></v65:product:title>

      <v65:product:subtitle></v65:product:subtitle>

      <v65:product:addToCart></v65:product:addToCart>
      
      <v65:product:customAttribute attributeName="stickyPrice"></v65:product:customAttribute>
      
</div>