/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* line 1, ../scss/partials/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 1, ../scss/partials/_normalize.scss */
audio, canvas, video {
  display: inline-block; }

/* line 1, ../scss/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 1, ../scss/partials/_normalize.scss */
[hidden] {
  display: none; }

/* line 1, ../scss/partials/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 1, ../scss/partials/_normalize.scss */
body {
  margin: 0; }

/* line 1, ../scss/partials/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 1, ../scss/partials/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 1, ../scss/partials/_normalize.scss */
h1, .h1-hidden {
  font-size: 2em; }

/* line 1, ../scss/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 1, ../scss/partials/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 1, ../scss/partials/_normalize.scss */
dfn {
  font-style: italic; }

/* line 1, ../scss/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 1, ../scss/partials/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

/* line 1, ../scss/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 1, ../scss/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 1, ../scss/partials/_normalize.scss */
small {
  font-size: 80%; }

/* line 1, ../scss/partials/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 1, ../scss/partials/_normalize.scss */
sup {
  top: -0.5em; }

/* line 1, ../scss/partials/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 1, ../scss/partials/_normalize.scss */
img {
  border: 0; }

/* line 1, ../scss/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 1, ../scss/partials/_normalize.scss */
figure {
  margin: 0; }

/* line 1, ../scss/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

/* line 1, ../scss/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 1, ../scss/partials/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 1, ../scss/partials/_normalize.scss */
button, input {
  line-height: normal; }

/* line 1, ../scss/partials/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 1, ../scss/partials/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 1, ../scss/partials/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 1, ../scss/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 1, ../scss/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 1, ../scss/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 1, ../scss/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 1, ../scss/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 3, ../scss/partials/_text.scss */
body, div, dl, dt, dd, ul, ol, li, h1, .h1-hidden, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td {
  margin: 0;
  padding: 0; }

/* line 8, ../scss/partials/_text.scss */
body {
  background-color: white;
  font-size: 13px;
  line-height: 1.231;
  color: #8a8380;
  font-family: arial, helvetica, clean, sans-serif; }

/* line 17, ../scss/partials/_text.scss */
a {
  text-decoration: none;
  color: #dc5d3d; }
  /* line 21, ../scss/partials/_text.scss */
  a:hover, a:focus, a:active, a:visted {
    text-decoration: underline; }

/* line 42, ../scss/partials/_text.scss */
.cke-editable ul,
.cke_contents ul,
#pageContent ul {
  padding-left: 40px;
  padding-bottom: 9px; }
  /* line 45, ../scss/partials/_text.scss */
  .cke-editable ul li,
  .cke_contents ul li,
  #pageContent ul li {
    list-style: disc;
    list-style-position: outside;
    font-family: Arial;
    font-size: 93%;
    line-height: 149%; }

/* 
ul, ol, dl, p, table, pre {
    margin-bottom: 1em;
}
 */
/* line 65, ../scss/partials/_text.scss */
p {
  margin-bottom: 9px;
  font-size: 93%;
  line-height: 149%; }

/* line 72, ../scss/partials/_text.scss */
h1, .h1-hidden, h2, h3, h4, h5, h6 {
  font-family: Palatino, Georgia, Times New Roman, Serif;
  font-weight: normal;
  font-size: 100%; }

/* line 77, ../scss/partials/_text.scss */
h1, .h1-hidden {
  margin: 32px 0 9px 0;
  color: #302f2c;
  font-family: Palatino, Georgia, Times New Roman, Serif;
  font-weight: bold;
  font-size: 146.5%;
  text-transform: uppercase;
  line-height: 1.231; }

/* line 87, ../scss/partials/_text.scss */
h2 {
  margin: 13px 0 3px 0;
  color: #665e5b;
  font-family: Palatino, Georgia, Times New Roman, Serif;
  font-weight: bold;
  font-size: 108%; }

/* line 95, ../scss/partials/_text.scss */
h3 {
  margin-bottom: 0;
  color: #433e3c;
  font-family: arial, helvetica, clean, sans-serif;
  font-weight: bold;
  font-size: 93%;
  line-height: 149%; }

/* line 104, ../scss/partials/_text.scss */
h4 {
  margin-bottom: 0;
  font-family: arial, helvetica, clean, sans-serif;
  font-weight: bold;
  font-size: 93%;
  line-height: 149%; }

/* line 112, ../scss/partials/_text.scss */
h5 {
  margin-bottom: 0;
  font-family: arial, helvetica, clean, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 93%;
  line-height: 149%; }

/* line 121, ../scss/partials/_text.scss */
h6 {
  margin-bottom: 0;
  font-family: arial, helvetica, clean, sans-serif;
  font-weight: normal;
  font-size: 93%;
  line-height: 149%; }

/* line 129, ../scss/partials/_text.scss */
h1 + h2, .h1-hidden + h2 {
  margin-top: 25px; }

/* line 134, ../scss/partials/_text.scss */
h2 + h3,
h3 + h4 {
  margin-top: 11px; }

/* line 138, ../scss/partials/_text.scss */
h1 + h4, .h1-hidden + h4 {
  margin-top: 25px; }

/* line 142, ../scss/partials/_text.scss */
h1 + p.right, .h1-hidden + p.right {
  margin-top: 25px; }

/* 
.reviews-page-htm {
    #pageContent {
        #mainReviewsContent {
            p + h4 { 
                margin-top:20px;
            }
        }
    }
}
 */
/* line 156, ../scss/partials/_text.scss */
q:before, q:after {
  content: ''; }

/* line 160, ../scss/partials/_text.scss */
abbr, acronym {
  border: 0;
  font-variant: normal; }

/* line 165, ../scss/partials/_text.scss */
sup {
  vertical-align: baseline; }

/* line 169, ../scss/partials/_text.scss */
sub {
  vertical-align: baseline; }

/* line 173, ../scss/partials/_text.scss */
fieldset, img {
  border: 0; }

/* line 177, ../scss/partials/_text.scss */
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

/* line 182, ../scss/partials/_text.scss */
del, ins {
  text-decoration: none; }

/* line 186, ../scss/partials/_text.scss */
li {
  list-style: none; }

/* line 190, ../scss/partials/_text.scss */
caption, th {
  text-align: left; }

/* line 194, ../scss/partials/_text.scss */
form {
  margin-bottom: 1em; }

/* line 198, ../scss/partials/_text.scss */
legend {
  color: #000; }

/* line 202, ../scss/partials/_text.scss */
hr {
  background-color: #666;
  border: 0;
  color: #666;
  height: 1px; }

/* line 209, ../scss/partials/_text.scss */
input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

/* line 216, ../scss/partials/_text.scss */
input, button, textarea, select {
  *font-size: 100%; }

/* line 222, ../scss/partials/_text.scss */
strong {
  font-weight: bold; }

/* line 225, ../scss/partials/_text.scss */
em {
  font-style: italic; }

/* line 230, ../scss/partials/_text.scss */
tbody {
  vertical-align: top; }

/* Standard V65 Styles - don't remove */
/* Images */
/* line 236, ../scss/partials/_text.scss */
img.v65-featureRight {
  border: 1px solid #ccc;
  float: right;
  padding: 3px;
  margin: 0 0 1em 1em; }

/* line 237, ../scss/partials/_text.scss */
img.v65-right {
  float: right;
  padding: 0;
  margin: 0 0 1em 1em; }

/* line 239, ../scss/partials/_text.scss */
img.v65-featureLeft {
  border: 1px solid #ccc;
  float: left;
  padding: 3px;
  margin: 0 1em 1em 0; }

/* line 240, ../scss/partials/_text.scss */
img.v65-left {
  float: left;
  padding: 0;
  margin: 0 1em 1em 0; }

/* line 242, ../scss/partials/_text.scss */
img.v65-border {
  border: 1px solid #ccc;
  padding: 3px; }

/*Pull Quotes*/
/* line 245, ../scss/partials/_text.scss */
.v65-quoteRight {
  width: 33%;
  border: 1px solid #ccc;
  background-color: #eee;
  color: #555;
  font: italic 1.17em/1.5em Georgia, "Times New Roman", Times, serif;
  float: right;
  padding: 0.65em;
  margin: 0 0 1em 1em; }

/* line 246, ../scss/partials/_text.scss */
.v65-quoteRight:first-letter {
  display: block;
  float: left;
  margin: 4px 8px 0 0;
  font-size: 3.2em; }

/* line 247, ../scss/partials/_text.scss */
.v65-quoteLeft {
  width: 33%;
  border: 1px solid #ccc;
  background-color: #eee;
  color: #555;
  font: italic 1.17em/1.5em Georgia, "Times New Roman", Times, serif;
  float: left;
  padding: 0.65em;
  margin: 0 1em 1em 0; }

/* line 248, ../scss/partials/_text.scss */
.v65-quoteLeft:first-letter {
  display: block;
  float: left;
  margin: 4px 8px 0 0;
  font-size: 3.2em; }

/*Other*/
/* line 251, ../scss/partials/_text.scss */
.small {
  font-size: 0.917em; }

/* line 252, ../scss/partials/_text.scss */
.small a {
  font-weight: bold; }

/* line 253, ../scss/partials/_text.scss */
.smaller {
  font-size: 0.834em; }

/* line 254, ../scss/partials/_text.scss */
.smaller a {
  font-weight: bold; }

/*SEPARATE VERSIONS OF THIS STYLE ARE MANUALLY ENTERED IN BOTH ADMIN.(S)CSS AND SCREEN.(S)CSS
.h1-hidden {
}
*/
/* line 260, ../scss/partials/_text.scss */
.review-back {
  float: right;
  margin: 0; }
  /* line 264, ../scss/partials/_text.scss */
  .review-back a:focus, .review-back a:hover, .review-back a:active, .review-back a:visted {
    text-decoration: none; }

/* line 269, ../scss/partials/_text.scss */
.floating-right {
  float: right;
  clear: right;
  margin: 0; }
  /* line 274, ../scss/partials/_text.scss */
  .floating-right a:focus, .floating-right a:hover, .floating-right a:active, .floating-right a:visted {
    text-decoration: none; }

/* line 280, ../scss/partials/_text.scss */
.h1-hidden {
  /*    
      .cke_contents & { // wraps RTE fields in vin65 Content Editor
          &:after {
              content: "  (This h1 heading is included for SEO but hidden by applying Hidden H1 from the Styles dropdown)";
              color: blue;
              font-family:"Arial Narrow";
              //font-weight:bold;
              text-transform:none;
              font-style:italic;
          }    
      }
  
      #pageContent & { // wraps RTE output on website pages
          height:0;
          margin:0;
          text-indent:-9999px;
      } 
  */ }

/* 
.h2-underlined {
    border-bottom: 1px solid #ebe8e2;
} 
 */
/* line 309, ../scss/partials/_text.scss */
.h2-link a {
  color: #4a4843;
  padding-right: 12px;
  background: transparent url(../images/caret-right.png) no-repeat right center;
  text-decoration: none;
  /*
          &:after {
              content:" >";
              color:$linkColor;
          }
  */ }
  /* line 322, ../scss/partials/_text.scss */
  .h2-link a:focus, .h2-link a:hover, .h2-link a:active, .h2-link a:visted {
    color: #4a4843;
    text-decoration: none; }

/* line 331, ../scss/partials/_text.scss */
.link-list {
  padding: 0 8px;
  border-left: 1px solid #a9a4a2; }
  /* line 337, ../scss/partials/_text.scss */
  .link-list:first-child, .link-list:first-of-type {
    padding-left: 0;
    border-left: none; }

/* 
.link-back {
    float: right;
    //font-size: 63.15%;
    //color: #da5c3b;
    //font-weight: normal;
    //font-family: Arial;
    //text-transform: lowercase;

    &:focus, &:hover, &:active, &:visted {
        text-decoration:none;
    }
}
 */
/* line 356, ../scss/partials/_text.scss */
.vintage-link {
  color: #8b8481;
  text-decoration: none;
  font-family: Palatino, Georgia, Times New Roman, Serif;
  font-size: 108%;
  border-left: 1px solid #8b8481;
  padding-left: 9px;
  margin-left: 8px; }
  /* line 366, ../scss/partials/_text.scss */
  .vintage-link:first-of-type, .vintage-link:first-child {
    border: none;
    padding: 0;
    margin: 0; }
  /* line 371, ../scss/partials/_text.scss */
  .vintage-link.selectedVintage {
    color: #dc5d3d; }

/* line 5, ../scss/admin.scss */
.h1-hidden:after {
  content: "  (This h1 heading is included for SEO but hidden by applying Hidden H1 from the Styles dropdown)";
  color: blue;
  font-family: "Arial Narrow";
  text-transform: none;
  font-style: italic; }
